<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><p class="h3">Supermarket Admin</p></a>

        <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn btn-outline-success" href="/add">Add Product</a>
                </li>
            </ul>
        </div>

    </div>
</nav>